{% extends 'layout.html' %}

{% block content %}
    <div style="margin-bottom: 5px">
        <a href="{% url 'customer_add' %}" class="btn btn-success btn-sm"><span class="fa fa-plus-square-o"></span>&nbsp;新建</a>
    </div>
    <table class="table table-bordered table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">用户名</th>
            <th scope="col">手机号</th>
            <th scope="col">账户余额</th>
            <th scope="col">级别</th>
            <th scope="col">注册时间</th>
            <th scope="col">创建者</th>
            <th scope="col">重置口令</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in queryset %}
            <tr row-id="{{ row.id }}">
                <td>{{ row.id }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.mobile }}</td>
                <td>{{ row.balance }}</td>
                <td>{{ row.level.title }}&nbsp;({{ row.level.percent }}%)</td>
                <td>{{ row.create_datetime|date:"Y-m-d H:i:s" }}</td>
                <td>{{ row.creator.username }}</td>
                <td>
                    <a href="{% url 'customer_reset' pk=row.id %}">设置</a>
                </td>
                <td>
                    <a href="{% url 'customer_edit' pk=row.id %}" class="btn btn-primary btn-sm">编辑</a>
                    <a cid="{{ row.id }}" class="btn btn-danger btn-sm btn-delete">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger align-items-center" role="alert">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">确定是否要删除？</h4>
                    <p>Aww yeah, you successfully read this important alert message. </p>
                    <hr>
                    <p>
                        <button type="button" class="btn btn-danger" id="btnConfirmDelete">确&nbsp;定</button>
                        <button type="button" class="btn btn-default" id="btnCancelDelete">取&nbsp;消</button>
                        <span style="color: red" id="deleteError"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var DELETE_ID;
        $(function () {
            bindDeleteEvent();
            bindConfirmDeleteEvent();
        });

        function bindDeleteEvent() {
            $(".btn-delete").click(function () {
                $("#deleteError").empty();
                $("#deleteModal").modal("show");
                var cid = $(this).attr("cid");
                DELETE_ID = cid;
            });

            $("#btnCancelDelete").click(function () {
                $("#deleteModel").modal('hide');
            });
        }

        function bindConfirmDeleteEvent() {
            $("#btnConfirmDelete").click(function () {
                console.log("确认删除", DELETE_ID);
                // ajax发送请求 /xxx/xxx?cid=123
                $.ajax({
                    url: "{% url 'customer_delete' %}",
                    type: "GET",
                    data: {cid: DELETE_ID},
                    dateType: "JSON",
                    success: function (res) {
                        if (res.status){
                            // 删除成功
                            console.log("成功", res);
                            // 方式一：页面刷新
                            // location.reload();

                            // 方式二：找到当前数据行，删除
                            $("tr[row-id='" + DELETE_ID + "']").remove();
                            $("#deleteModel").modal('hide');
                        } else {
                            // 删除失败
                            console.log("失败", res);
                            $("#deleteError").text(res.detail);
                        }
                    }
                })
            });
        }
    </script>
{% endblock %}