{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信登录</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/5.1.3/css/bootstrap.css' %}">
    <style>
        h1 {
            /* 字体居中 */
            text-align: center;
            margin-bottom: 30px;
        }

        .box {
            /* 宽度 */
            width: 450px;
            /* 高度 */
            height: 510px;
            /* 边框 */
            border: 1px solid #dddddd;
            /* 顺时针：上, 右, 下, 左 */
            /* 外边距 */
            margin: 100px auto auto auto;
            /* 内边距 */
            padding: 40px 50px 40px 50px;
            /* 边框阴影 */
            box-shadow: 5px 10px 10px rgb(0 0 0 / 5%);
        }
    </style>
</head>
<body>
<div class="box">
    <h1>短信登录</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="role" class="form-label">{{ form.role.label }}</label>
            <select class="form-select" name="role">
                {% for item in form.role %}
                    {{ item }}
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="mobile" class="form-label">{{ form.mobile.label }}</label>
            <input type="text" class="form-control" id="mobile" placeholder="mobile phone" name="mobile">
        </div>
        {# 使用格栅系统，每行共12份，需要将多个标签包裹在一个div class='row'中 #}
        <div class="row">
            <label for="code" class="form-label">{{ form.code.label }}</label>
            {# mb-x 指标签间上下边距 #}
            {# col-md-x 指标签占格栅x份; offset-md-x 指标签偏移x份 #}
            <div class="mb-4 col-md-7">
                <input type="text" class="form-control" id="code" placeholder="verification code" name="code">
            </div>
            {# position: 外层相对浮动，内层相对固定 #}
            <div class="col-md-4 offset-md-1" style="position: relative;">
                <input id="sendBtn" type="button" value="点击获取验证码" class="btn btn-dark" style="position: absolute; right: 13px;"/>
            </div>
        </div>
        <div style="margin-top: 6px;">
            <button type="submit" class="btn btn-primary">登录</button>
            {# 靠右对齐 #}
            <a style="float: right;" href="{% url 'login' %}">用户名登录</a>
        </div>
    </form>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript">
    $(function (){
        // 当页面框架加载完成后，执行该响应事件
        bindSendSmsEvent();
    })

    function bindSendSmsEvent() {
        // 按钮绑定点击事件
        $("#sendBtn").click(function (){
            // 1.获取手机号，向后台发送请求
            let mobileData = $("#mobile").val();
            console.log(mobileData);
            $.ajax({
                url: "/sms/send/",
                type: "POST",
                data: {mobile: mobileData},
                success: function (res) {
                    console.log(res);
                }
            });
            // 2.动态效果
            let $sms = $(this);
            sendSmsRemind($sms);
        });
    }

    /**
     * 发送短信按钮，倒计时读秒效果
     */
    function sendSmsRemind(obj) {
        // 2.1 禁用
        obj.prop("disabled", true);
        // 2.2 更新内容
        let time = 60;
        let countdown = setInterval(function () {
            obj.val(time + " 秒重新发送");
            time -= 1;
            if (time < 0) {
                // 2.3 清除计时器
                clearInterval(countdown);
                // 2.4 恢复原样式
                obj.val("点击获取验证码");
                obj.prop("disabled", false);
            }
        }, 1000);
    }
</script>
</body>
</html>